.menu {
  background-color: #add8e6;
  cursor: pointer;
  height: 50px;
}
@media screen and (max-width: 720px) {
  .menu {
    display: none;
  }
}
.menu .row .button {
  height: 50px;
  position: relative;
  padding-top: 10px;
  border: 1px solid #808080;
  text-align: center;
  font-size: 1.2em;
}
@media screen and (max-width: 1000px) {
  .menu .row .button {
    font-size: 1em;
  }
}
.mobile {
  position: relative;
  display: block;
}
.mobile .menu_mobile {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #90ee90;
}
.mobile .tel {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 250px;
  height: 40px;
}
@media screen and (min-width: 721px) {
  .mobile {
    display: none;
  }
}
.head .row .logo img {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .head .row .logo img {
    width: 80%;
  }
}
.head .row .name_site {
  font-size: 25px;
  color: #556b2f;
  padding: 15px;
  font-family: 'Gabriela', serif;
}
@media screen and (max-width: 992px) {
  .head .row .name_site {
    font-size: 22px;
  }
}
@media screen and (max-width: 650px) {
  .head .row .name_site {
    font-size: 18px;
    padding: 5px;
  }
}
@media screen and (max-width: 490px) {
  .head .row .name_site {
    font-size: 15px;
  }
}
.head .row .phone {
  background-color: #add8e6;
  text-align: center;
  font-size: 1.5em;
/*display table-cell
      vertical-align middle*/
  height: 200px;
  line-height: 200px;
}
.head .row .phone .number {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .head .row .phone {
    height: 50px;
    line-height: 50px;
  }
}
@media screen and (max-width: 720px) {
  .head .row .phone {
    display: none;
  }
}
.invisible {
  display: none;
}
